/* basic adjustments to the html document and the body */
html,
body {
    margin: 0;
    padding: 0;
    /* Essential height for making the scroll quite long */
    height: 1000vh;
    background-color: black;
}

/* Styling and positioning the overall SVG object */
#comic_object {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0
}

/* Styling the idle screen image */
.keep-scrolling {
    display: none;
    left: 0;
    margin: auto;
    width: 100%;
    position: fixed;
}

/* Styling the cover page image */
.cover-page {
    display: none;
    left: 0;
    margin: auto;
    width: 100%;
    position: fixed;
}