/* Importing font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;700&family=Questrial&display=swap');

/* General styling */
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

/* Styling the Navbar */
#logo {
    cursor: pointer;
    padding: 0;
}

#logo img {
    width: 12%;
    height: 12%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 6%;
    height: auto;
    background-color: #121212;
    border-bottom: white solid 1px;
}

.nav_links li {
    display: inline-block;
    transition: scale 0.3s;
}

.nav_links li a {

    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: "Inter";
    font-weight: 200;
    font-size: 25px;
    color: azure;
    text-decoration: none;

    padding-left: 30px;
    transition: color 0.7s;
}

.nav_links li:hover {
    scale: 1.08;
    cursor: default;
}

.nav_links li a:hover {
    color: cyan;
}


/* Styling the homescreen */
.home {
    background-image: url("./assets/cover_photo1.svg");
    /* Reference: https: //unsplash.com/photos/gpJzBlvKt2w */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
}

.home h1 {

    font-family: 'Questrial', sans-serif;
    color: white;
    font-size: 100px;
    letter-spacing: 1.5px;
}

.home {
    align-items: center;
    justify-content: center;
}

.home div {
    margin-bottom: 150px;
}

#arrow {
    /* margin-left: 50px; */
    height: 120px;
    width: 120px;
}

h3 {
    font-family: "Inter";
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 1.5px;
    text-align: center;
    padding-top: 30px;
}

/* Styling the Tutorial Page */

.tutorial {
    height: auto;
    color: white;
}


.steps-container {
    padding-top: 50px;
    height: auto;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.steps-container .hidden-steps {
    margin: 45vh 0;
    display: flex;
    /* flex-direction: column-reverse; */
    justify-content: center;
    align-items: center;
    /* margin: 40px; */


}

.steps-container div p {
    text-align: center;
    font-family: "Inter";
    font-size: 30px;
    font-weight: 200;
    padding: 40px;
}

.steps-container div img {
    width: 800px;
    height: 500px;
}

/* Used for scroll animation */

.hidden-steps {
    opacity: 0;
    filter: blur(3px);
    transition: all 1.5s;
}

.show-steps {
    opacity: 1;
    filter: blur(0);
}

@media(prefers-reduced-motion) {
    .hidden-steps {
        opacity: 0;
        filter: blur(5px);
        transition: all 1.75s;
    }

}

/* Styling the Result Page */

.result {
    height: auto;

}

#section3 {
    background-color: white;
    color: black;
}

.result div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    margin-top: 50x;
    flex-direction: column;
}

.result .hidden-steps {
    margin-bottom: 70px;
    margin-top: 0px;
}

.result .hidden-steps p {
    margin-top: 20px;
    font-family: "Inter";
    font-weight: 200;
    font-size: 30px;
}


/* Styling the Footer */
footer {
    text-align: center;
    color: whitesmoke;
    padding: 10px;
    padding-top: 0;
    border-top: 1px white dashed;
}

footer p {
    margin-top: 15px;
    margin-bottom: 0;
    text-align: center;
}

footer p a {
    text-decoration: none;
    font-family: "Inter";
    font-weight: 100;
    letter-spacing: 4px;
    color: whitesmoke;
}

/* Styling Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: cyan;
}

/* reference: https: //www.w3schools.com/howto/howto_css_custom_scrollbar.asp */