body {
  background-image: url('./assets/images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
}

#video-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
}

video {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -22%);
  max-width: 50%;
  max-height: 50%;
}

.select_text
{
  background-color: rgb(15, 43, 82);
  border: 2px solid #f1c40f;
  color: white;
  position: absolute;
  justify-content: center;
  top: 15%;
  padding: 20px;
  border-radius: 30px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.menu {
  /* display: flex; */
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}

.menu ul {
  list-style: none;
  display: flex;
  /* flex-direction: column; */
  align-items: center;

  /* justify-content: space-between; */
}

.menu li {
  /* margin: 10px 0; */
  padding: 50px;
}

.menu li p
{
  display: inline-block;
  padding: 20px;
  border: 2px solid white;
  border-radius: 30px;
  background-color: #f1c40f;
  color: rgb(15, 43, 82);
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.menu li p:hover {
  background-color: rgb(15, 43, 82);
  border: 2px solid #f1c40f;
  color: white;
}

#replay-button {
  display: inline-block;
  margin: 0 auto;
  position: absolute;
  bottom: 2vh;
  left: 50%;
  transform: translate(-50%, -30%);
  background-color: #f1c40f;
  border: 2px solid white;
  border-radius: 30px;
  color: rgb(15, 43, 82);
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  padding: 10px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  text-align: center;
  cursor: pointer;
}

#replay-button:hover {
  background-color: rgb(15, 43, 82);
  border: 2px solid #f1c40f;
  color: white;
}


/* Media query for screens bigger than 768px and smaller than 1200 px*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  body {
    background-image: url('./assets/images/background_mobile.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  video {
      position: absolute;
      display: none;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 100%;
      max-height: 100%;
    }
  #replay-button
  {
      bottom: 20%;
      font-size: 50px;
  }
}

@media only screen 
and (min-device-width : 280px) 
and (max-device-width : 480px){
  body {
    background-image: url('./assets/images/background_mobile.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  video {
      position: absolute;
      display: none;
      top: 40%;
      left: 50%;
      max-width: 100%;
      max-height: 100%;
    }
  #replay-button
  {
      bottom: 30%;
      font-size: 50px;
  }
}